*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

html,
body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Font */
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Black.woff2") format("woff2"),
        url("../font/Poppins-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-ExtraBoldItalic.woff2") format("woff2"),
        url("../font/Poppins-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-ExtraLight.woff2") format("woff2"),
        url("../font/Poppins-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Bold.woff2") format("woff2"),
        url("../font/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-BlackItalic.woff2") format("woff2"),
        url("../font/Poppins-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-BoldItalic.woff2") format("woff2"),
        url("../font/Poppins-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-ExtraBold.woff2") format("woff2"),
        url("../font/Poppins-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-ExtraLightItalic.woff2") format("woff2"),
        url("../font/Poppins-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Medium.woff2") format("woff2"),
        url("../font/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Light.woff2") format("woff2"),
        url("../font/Poppins-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-MediumItalic.woff2") format("woff2"),
        url("../font/Poppins-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Italic.woff2") format("woff2"),
        url("../font/Poppins-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-LightItalic.woff2") format("woff2"),
        url("../font/Poppins-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.woff2") format("woff2"),
        url("../font/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-SemiBold.woff2") format("woff2"),
        url("../font/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Thin.woff2") format("woff2"),
        url("../font/Poppins-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-ThinItalic.woff2") format("woff2"),
        url("../font/Poppins-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-SemiBoldItalic.woff2") format("woff2"),
        url("../font/Poppins-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Css */

a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    background-color: unset;
    padding: 0;
}
.line-clamp {
    --line: 2;
    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#darkmode {
    display: none;
}

#darkmode:checked ~ .container {
    background-color: black;
}
#darkmode:checked ~ .container .header__dark-mode--on {
    width: 44px;
    height: 30px;
    background-color: #fdd32b;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#darkmode:checked ~ .container .header__dark-mode--off {
    background-color: inherit;
}

.container {
    padding: 30px;
    background-color: #fff;
}
/* Header */
.header {
    position: sticky;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    z-index: 2;
    height: 50px;
}
.header__left,
.header__right {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.header__left {
    margin-left: 20px;
}
.header__right {
    column-gap: 0;
}
.header__logo {
    width: 35px;
}
.header__input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #3d3b39;
    font-weight: 400;
    padding: 2px 4px;
}
.header__voice {
    margin-left: 20px;
}
.header__input-wrap {
    display: flex;
    align-items: center;
}
.header__global,
.header__noti {
    width: 22px;
    height: 22px;
}
.header__noti {
    margin-left: 20px;
}
.header__dark-mode {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 43px;
}
.header__dark-mode--off,
.header__dark-mode--on {
    width: 44px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.header__dark-mode--off {
    background-color: #fdd32b;
}
.header__dark-mode img {
    width: 18px;
    height: 18px;
}
.header__upload {
    margin-left: 52px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header__upload-icon {
    width: 18px;
    height: 18px;
}
.header__upload-text {
    margin-left: auto;
    font-size: 1.4rem;
    padding: 2px 0;
    line-height: 1.57;
    color: #3d3b39;
    font-weight: 500;
}

/* Live */
.live {
    margin-top: 30px;
}
.live__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.live__title {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #3d3b39;
    font-weight: 400;
}
.live__action {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.live__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
    transition: 0.3s;
}
.live__arrow:hover {
    border: 1px solid #000;
    color: #000;
}
/* Live list*/
.live__list {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
}
.live__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 218px;
    transition: 0.3s;
}
/* Content */
.live__item-content {
    padding: 0 20px;
    width: 58%;
}
.live__item-chanel {
    font-size: 2.6rem;
    line-height: 1.46;
    color: #3d3b39;
    font-weight: 500;
}
.live__item-desc {
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #686a70;
    font-weight: 400;
}
.live__item-info-wrap,
.live__item-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.live__item-info-wrap {
    margin-top: 20px;
}
/* */

.live__item-info {
    column-gap: 10px;
}
/* Media */
.live__item-img-wrap {
    width: 200px;
    height: 218px;
}
.live__item-img-wrap--big {
    width: 310px;
}
.live__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.live__item-info-text,
.live__item-info-number {
    font-size: 1.2rem;
    line-height: 1.5;
}
.live__item-info-text {
    color: #a3a3a3;
    font-weight: 400;
}
.live__item-info-number {
    color: #3d3b39;
    font-weight: 500;
}
.live__item-btn {
    margin-top: 24px;
    min-width: 124px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    padding: 10px 12px;
    background-color: #fdce14;
    border-radius: 26px;
    column-gap: 10px;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #3d3b39;
    font-weight: 400;
    transition: 0.3s;
}
.live__item-btn:hover {
    opacity: 0.7;
}
.popular {
    margin-top: 20px;
}
.popular__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular__title {
    font-size: 1.6rem;
    line-height: 1.44;
    color: #3d3b39;
    font-weight: 500;
}
.popular__link {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #ef4e40;
    font-weight: 400;
}
.popular__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}
.popular__item {
    padding: 14px;
    list-style: none;
    transition: 0.3s;
}
.popular__item:hover {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(245, 242, 242, 0.601) 0px 5px 10px;
}
.popular__info-wrap {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.popular__name {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #3d3b39;
    font-weight: 500;
}
.popular__time {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a3a3a3;
    font-weight: 400;
}
/* ----------------------- */
.popular__avt-wrap {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.popular__avt {
    border-radius: inherit;
}

.popular__img-wrap {
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 142px;
    border-radius: 6px;
}
.popular__img-wrap img {
    border-radius: inherit;
}
.popular__topic {
    display: block;
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #54b498;
    font-weight: 500;
}
.popular__title {
    margin-top: 6px;
    font-size: 1.8rem;
    line-height: 1.44;
    color: #3d3b39;
    font-weight: 500;
}
.popular__desc {
    margin-top: 8px;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #a3a3a3;
    font-weight: 400;
}
.popular__detail {
    margin-top: 8px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #686a70;
    font-weight: 400;
}
.popular__play {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fdd32b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.popular__play img {
    width: 22px;
    height: 22px;
    object-fit: cover;
}
.popular__img-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 2px;
    padding: 1px 5px;
    background-color: #3d3b39;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
    width: 35px;
    height: 20px;
}
