*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1;
}

html,
body {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* Css */
a {
    text-decoration: none;
}
.line-clamp {
    --line: 2;
    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.container {
    max-width: 1180px;
    font-weight: 400;
    color: #3d3b39;
    padding: 0 20px;
    margin: 0 auto;
}
main .container{
    padding: 0 20px 20px 20px;
}

.header {
    background-color: #fff;
    padding-top: 20px;
}
.header--fixed {
    position: sticky;
    top: -20px;
    z-index: 10;
}
/* Header */
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.header__left,
.header__right {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.header__search {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 24px;
    padding: 14px 20px;
    background-color: #f8f8f8;
}
.header__decor {
    width: 35px;
    height: 22px;
}
.header__decor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.57;
    min-width: 273px;
}

.header__input-wrap {
    display: flex;
    align-items: center;
}
.header__global,
.header__noti {
    width: 22px;
    height: 22px;
}
.header__dark-mode {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    padding: 10px 23px;
    background-color: #f8f8f8;
}
.header__dark-mode--off,
.header__dark-mode--on {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.header__dark-mode--off {
    width: 44px;
    height: 30px;
    background-color: #fdd32b;
}
.header__dark-mode--on {
    width: 18px;
    height: 18px;
}
.header__dark-mode img {
    width: 18px;
    height: 18px;
}
.header__upload {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 25px;
    padding: 14px 22px;
    background-color: #f8f8f8;
}
.header__upload-icon {
    width: 18px;
    height: 18px;
}
.header__upload-text {
    margin-left: auto;
    font-size: 1.4rem;
    padding: 2px 0;
    line-height: 1.57;

    font-weight: 500;
}

/* Live */
.live {
    margin-top: 30px;
}
.live__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.live__title {
    font-size: 1.6rem;
    line-height: 1.5;
}
.live__action {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.live__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
    transition: 0.3s;
}
.live__arrow:hover {
    border: 1px solid #3d3b39;
}
/* Live list*/
.live__list {
    margin-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 28px;
}
.live__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 218px;
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid #f6f6f4;
}

/* Content */
.live__item-content {
    padding: 0 20px;
    width: 58%;
}
.live__item-chanel {
    font-size: 2.6rem;
    line-height: 1.46;

    font-weight: 500;
}
.live__item-desc {
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #686a70;
}
.live__item-info-wrap,
.live__item-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.live__item-info-wrap {
    margin-top: 20px;
}
.live__item-info {
    column-gap: 10px;
}
/* Media */
.live__item-img-wrap {
    width: 200px;
    height: 218px;
}

.live__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.live__item-info-text,
.live__item-info-number {
    font-size: 1.2rem;
    line-height: 1.5;
}
.live__item-info-text {
    color: #a3a3a3;
}
.live__item-info-number {
    font-weight: 500;
}
.live__item-btn {
    margin-top: 24px;
    min-width: 124px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    padding: 10px 12px;
    background-color: #fdce14;
    border-radius: 26px;
    column-gap: 10px;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #3d3b39;
    transition: 0.3s;
}
.live__item-btn:hover {
    opacity: 0.7;
}
.popular {
    margin-top: 20px;
}
.popular__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular__title {
    margin-top: 6px;
    font-size: 1.6rem;
    line-height: 1.44;
    font-weight: 500;
}
.popular__link {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #ef4e40;
}
.popular__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}
.popular__item {
    padding: 14px;
    list-style: none;
    transition: 0.3s;
}
.popular__item:hover {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(245, 242, 242, 0.601) 0px 5px 10px;
}
.popular__info-wrap {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.popular__name {
    font-size: 1.6rem;
    line-height: 1.5;

    font-weight: 500;
}
.popular__time {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a3a3a3;
}
/* ----------------------- */
.popular__avt-wrap {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.popular__avt {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.popular__img-wrap {
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 142px;
    border-radius: 6px;
}
.popular__img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.popular__topic {
    display: block;
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #54b498;
    font-weight: 500;
}
.popular__desc {
    margin-top: 8px;
    font-size: 1.4rem;
    line-height: 1.57;
    color: #a3a3a3;
}
.popular__detail {
    margin-top: 8px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #686a70;
}
.popular__play {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fdd32b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.popular__play img {
    width: 22px;
    height: 22px;
    object-fit: cover;
}
.popular__img-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 2px;
    padding: 1px 5px;
    background-color: #3d3b39;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
    width: 35px;
    height: 20px;
}
